Nama        :  Nicholaus Verdhy Putranto

Assigment 1 : games sales analytic

# Import dataset

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset

In [47]:
df = pd.read_csv("Games Sales - Case Study - Games (1).csv")

In [48]:
df

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

# Data Understanding

In [49]:
df.shape

(177, 7)

In [50]:
df.isna().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [51]:
df.duplicated().sum()

2

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [53]:
df.describe()

            Sales
count  177.000000
mean     3.116949
std      4.937466
min      1.000000
25%      1.000000
50%      1.500000
75%      3.000000
max     42.000000

# Data Cleansing

In [54]:
df.drop_duplicates(inplace=True)

# Data Preparation

In [55]:
df["Release"] = pd.to_datetime(df["Release"])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       175 non-null    object
 1   Sales      175 non-null    float64
 2   Series     139 non-null    object
 3   Release    175 non-null    datetime64[ns]
 4   Genre      175 non-null    object
 5   Developer  175 non-null    object
 6   Publisher  175 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 10.9+ KB

# Analisis Data

In [57]:
## Which game is the oldest and the newest games in that dataset?
sorted_release = df.sort_values(by="Release")
sorted_release

,Name,Sales,Series,Release,Genre,Developer,Publisher
133,Hydlide,1.0,Hydlide,1984-12-01,Action role-playing,Technology and Entertainment Software,Technology and Entertainment Software
34,Where in the World Is Carmen Sandiego?,4.0,Carmen Sandiego,1985-06-01,Educational,Broderbund,Broderbund
88,International Karate,1.5,International Karate,1985-11-01,Fighting,System 3,Epyx
162,Tetris,1.0,Tetris,1988-01-01,Puzzle,Spectrum HoloByte,Spectrum HoloByte
22,Last Ninja 2,5.5,The Last Ninja,1988-08-01,Action-adventure,System 3,Activision
...,...,...,...,...,...,...,...
139,Mordhau,1.0,NaN,2019-04-01,Action,Triternion,Triternion
10,Fall Guys,10.0,NaN,2020-08-01,Battle royale,Mediatonic,Devolver Digital
110,Crusader Kings III,1.0,Crusader Kings,2020-09-01,Grand strategy,Paradox Development Studio,Paradox Interactive
27,Cyberpunk 2077,4.5,NaN,2020-12-01,Action role-playing,CD Projekt Red,CD Projekt
20,Valheim,6.0,NaN,2021-02-01,Survival,Iron Gate,Coffee Stain Publishing

Hydlide is the oldest game and Valheim is the newest game

In [58]:
# Which publisher published most of the games ?
df["Publisher"].value_counts()

Electronic Arts           19
Blizzard Entertainment     8
Paradox Interactive        7
Activision                 6
GT Interactive             5
                          ..
Landfall Games             1
Headup Games               1
Atari, Inc                 1
Konami                     1
Blue Fang Games            1
Name: Publisher, Length: 96, dtype: int64

Electronic Arts is the most publisher published games

In [59]:
#Which developer developed most of the games ?
df["Developer"].value_counts()

Blizzard Entertainment             8
Maxis                              6
Paradox Development Studio         5
id Software                        4
Westwood Studios                   4
                                  ..
Kojima Productions                 1
Edmund McMillen & Florian Himsl    1
Landfall Games                     1
Keen Software House                1
Microsoft                          1
Name: Developer, Length: 109, dtype: int64

Blizzard Entertainment is the most developer developed the games

In [60]:
#Which series has the most sales ?
most_sales = df.groupby("Series")["Sales"].sum()
series_with_the_most_sales = most_sales.idxmax()

print(series_with_the_most_sales," Has the most sales")

Minecraft  Has the most sales

In [61]:
#Which series have the most games ?
games_count_by_series = df.groupby('Series')['Name'].count()

series_with_most_games = games_count_by_series.idxmax()

print("Series with the Most Games:", series_with_most_games)

Series with the Most Games: Command & Conquer