# RevoU Mini Course Day 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Supermarket Sales - Python Course.xlsx")
df

,Date,Payment,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity
0,2019-01-05,Ewallet,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0
1,2019-03-08,Cash,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0
2,2019-03-03,Credit card,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0
3,2019-01-27,Ewallet,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0
4,2019-02-08,Ewallet,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0
...,...,...,...,...,...,...,...,...,...,...
995,2019-01-29,Ewallet,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1.0
996,2019-03-02,Ewallet,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0
997,2019-02-09,Cash,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1.0
998,2019-02-22,Cash,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1.0
999,2019-02-18,Cash,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7.0